@import url('https://api.fontshare.com/v2/css?f[]=clash-display@200,300,400,500,600,700&display=swap');
@import "tailwindcss";

:root {
  /* Colors */
  --primary: #2E3B29;
  /* Dark Green */
  --secondary: #EDEDE5;
  /* Light Cream */
  --accent: #E7E5D8;
  /* Product Cream */

  --background: #ECECEC;
  /* Main Page BG */
  --surface: #FFFFFF;
  /* Section BG */

  --foreground: #111111;
  /* Primary Text */
  --foreground-muted: rgba(0, 0, 0, 0.6);
  /* Secondary Text */
  --text-inverse: #FFFFFF;
  /* White Text */

  --overlay-light: rgba(0, 0, 0, 0.2);
  --overlay-medium: rgba(0, 0, 0, 0.3);
  --overlay-dark: rgba(0, 0, 0, 0.5);

  /* Radii */
  --radius-sm: 8px;
  --radius-md: 14px;
  --radius-lg: 32px;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Clash Display', sans-serif;
  overflow-x: hidden;
}

a,
button {
  cursor: pointer;
}



/* Hide scrollbar for cleaner look if desired, but typically we want it */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}